@model RedBus_api.Models.Viagem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Viagem</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Motorista.idUsuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Motorista.idUsuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dataInicioViagem)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dataInicioViagem)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.dataFimViagem)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dataFimViagem)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.posicaoInicio_latitude)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.posicaoInicio_latitude)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.posicaoInicio_longitude)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.posicaoInicio_longitude)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.posicaoFim_latitude)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.posicaoFim_latitude)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.posicaoFim_longitude)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.posicaoFim_longitude)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.statusViagem)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.statusViagem)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idViagem }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
